.container {
  background-color: white;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: lighter;
  letter-spacing: .5px;
  line-height: 30px;
  color: rgba(93, 93, 93, 0.84);
} 
.container > section.about{
  padding-bottom: 120px;
  background: #ffffff;
  background: -webkit-linear-gradient(top, #ffffff, #c9e0bc);
  background: -moz-linear-gradient(top, #ffffff, #c9e0bc);
  background: linear-gradient(to bottom, #ffffff, #c9e0bc);
}
.container > section > p{
  max-width: 60%;
  margin: 0 auto;

}
.verticalTitle{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 120px;
  height: 30px;
  /* background-color: rgba(0, 0, 0, 0.248); */
  transform: rotate(-90deg)


}
.verticalTitle >div{
  background-color: black;
  width: 50px;
  height: .5px;

}
.verticalTitle >span{
  display: inline-block;
  font-family:"NotoSerifSC";
  color: black;
}

.container > section.services{
     padding: 30px 0;

}
.container > section.services > h2{
  position: relative;
  text-align: left;
  font-size: 16vw;
  line-height: 8vw;
  color: rgba(160, 159, 159, 0.433);
  /* background-color: pink; */
}
.container > section.services > h2 span{
  display: block;
  font-size: 3vw;
  color: black;
  margin-left: 20px;

}
.container > section.services > h2 div{
  position: absolute;
  height: .5px;
  transform: rotate(-90deg);
  background-color: rgb(19, 17, 17);
}
.container > section.services > h2 div.lineUp{
  width: 150px;
  top: -70px;
  left: -20px;

}
.container > section.services > h2 div.lineDown{
  width: 60px;
  bottom: -43px;
  left: 20px;
}
