.banner{
    position: relative;
    height: 450px;
    margin-top: 60px;
    text-align: center;
    color: white;
    background-color: rgb(170, 39, 213);
}

.waveTop{
    position: absolute;
    top: -5px;
    width: 100%;
    z-index: 9;
    transform: rotate(180deg);
}
.waveTop > svg {
    width: 100%;
    height: fit-content;
}
.waveButton{
    position: absolute;
    bottom:-5px;
    width: 100%;
}
.waveButton> svg {
    width: 100%;
    height: fit-content;
}
.cover{
    position: relative;
    width: 100%;
    height: 100%;
    margin: auto;
    overflow: hidden;
    background-color: rgb(2, 2, 2);
}
.cover .img{
    opacity: 0.5;

}
.cover > h1{
    position: absolute;
    top: 40%;
    width: 300px;
    left: calc(50%);
    /* right: 0;
    left: 0;
    bottom: 0; */
    background-color: aqua;

}
