.banner{
    position: relative;
    height: 100vh;
    margin-top: 60px;
    text-align: center;
    color: white;
    background-image: url(../../public/img/pexels-min-an-1353938.jpg);
    
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.waveTop{
    position: absolute;
    top: -5px;
    width: 100%;
    z-index: 9;
    transform: rotate(180deg);
}
.waveTop > svg {
    width: 100%;
    height: fit-content;
}
.waveButton{
    position: absolute;
    bottom:-5px;
    width: 100%;
}
.waveButton> svg {
    width: 100%;
    height: fit-content;
}
/* .cover{
    position: relative;
    width: 100%;
    height: 100%;
    margin: auto;
    overflow: hidden;
    background-color: rgb(72, 185, 60);
}
.cover .img{
    opacity: 0.5;

}
.cover > h1{
    position: absolute;
    left: 0;
    right: 0;
    top:40%;
    font-family: 'Roboto', sans-serif;
    font-weight: 200;
    font-size: 28px;
    letter-spacing: 1px;
    line-height: 35px;
    color: white;

} */


.content{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color:rgb(42, 178, 178);
    background-color: rgba(127, 255, 212, 0.176);
}
.content h1{
    font-size: 78px;
    font-weight: 400;
    letter-spacing: 10px;
    font-family: "Reem Kufi Fun", sans-serif;
}
.underline {
    width: 7%;
    height: 5px;
    background-color: rgba(128, 200, 200, 1);
  }
/* @media (max-width: 480px) {
    h1 {
      font-size: 50px;
    }
  } */